/* This style is for paragraph */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

span {
    display: block;
}
img {
    width: 100%;
}
p {

    font-size: 30px;
    color: rgb(255, 247, 247);
    line-height: 25px;
}
h1 {
    font-size: 70px;
    color: #020202;
    margin-top: 45px;
    text-shadow: -2px 3px 0px #cd8fe7;
    font-family: cursive;
}
.container {
    width: 1400px;
    margin: 0 auto;
    height: 120px;
}
header {
    background: rgb(8, 7, 7);
    padding: 20px;
    background-size: cover;
    height: 200px;
}
nav.header-navigation {
    margin-top: 40px;
    margin-left: -69px;
    
}
nav.header-navigation a{
    font-size: 15px;
    text-decoration: none;
    margin: 11px;
    border-radius: 50px;
    background-color: #ba65c5;
    padding: 10px;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    

}
nav.header-navigation a:hover
{
  color: #884296;
  font-weight: 20px;
}


/* Add your Skills Styles here*/
.container {
    max-width: 960px;
  }
  

  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }
  h3 {
    color: #000000;
  }
