/* This style is for paragraph */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    
}
body, form, input, textarea {
    font-family:'Times New Roman', Times, serif
}

span {
    display: block;
}
img {
    width: 100%;
}
p {

    font-size: 30px;
    color: white;
    line-height: 25px;
}
h1 {
    font-size: 70px;
    color: #ea11ed;
    margin-top: 45px;
    text-shadow: -2px 3px 0px #cd8fe7;
    font-family: cursive;
}
h2{
    text-transform: uppercase;
    font-size: 45px;
    margin-bottom: 27px;
    color: white;
}
section.banner {
        text-align: center;
    }
strong {
    font-family: cursive;
    font-size: 30px;
    color: #ea11ed;
}
.container {
    margin: 0 auto;
    height: 120px;
}
header {
    background: #fff url(https://www.shutterstock.com/image-illustration/futuristic-city-building-high-neon-260nw-2126403419.jpg) no-repeat;
    padding: 20px;
    background-size: cover;
    height: 730px;
}
nav.header-navigation {
    margin-top: 44px;
    margin-left: 31px;
    
}
nav.header-navigation a{
    font-size: 15px;
    text-decoration: none;
    margin: 11px;
    border-radius: 50px;
    background-color: #ba65c5;
    padding: 10px;
    

}
a:hover
{
    color: #884296;
    font-weight: 20px;
}


/* Footer Styles */
footer, a {
    color: #000000;
}
footer {
    
        background: url(https://img.freepik.com/free-photo/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product-plain-studio-background_1258-63886.jpg) no-repeat;
        background-size: cover;
        background-attachment: inherit;
        height: 300px;
}
section.footer-1 .col {
    vertical-align: top;
    display: inline-block;
    width: 26%;
    padding: 35px;

}
section.footer-1 .col ul li img {
    width: 100px;
    margin-top: 10px;
}
section.footer-1 .col ul li {
    list-style: none;
    display: inline-block;
}
.footer-1 form {
    width: 100%;
    margin-top: 24px;
}
.footer-1 input[type="button"] {
    margin-top: 0;
    font-size: 11px;
    padding: 15px 21px;
    letter-spacing: 3px;
    border-radius: 50px;
    width: 110px;
    text-transform: uppercase;
}
input[type="button"] {
    margin-top: 20px;
    font-size: 11px;
    padding: 15px 21px;
    letter-spacing: 3px;
    border-radius: 50px;
    width: 110px;
    text-transform: uppercase;
    float: right;
}
.social-media-icon {
    margin-top: 15px;
    text-align: center;
}
.social-media-icon a {
    font-size: 45px;
}
.social-media-icon a:hover {
    color: #0400fd;
}
.footer-1 input#email {
    border: 1px solid #fff;
    border-radius: 20px;
    margin-bottom: 12px;
    border-radius: 65px;
    width: 400px;
    height: 45px;
    background: transparent;
}
footer h3 {
    line-height: 25px;
    text-align: center;
    
}
span.copyright {
    margin-top: 20px;
}

